// Core variables and mixins
@import "variables.less";
@import "mixins.less";
.fokusfelt {
    position: relative;
    max-height: 260px;
    overflow: hidden;
    a {
        display: block;
        text-decoration: none;
        background-color: #F5F5F5;
        border-radius: 2px;
        min-height: 200px;
    }
}
