@charset "UTF-8";
@mixin colors($color: 0, $opacity: .7) {
    background: hsla($color, 100%, 50%, $opacity);
}

@mixin color($color: 1, $opacity: .7) {
    background: hsla(($color - 1) * 60, 100%, 50%, $opacity);
}

@mixin face-black {
    background: rgba( black, .8);
}