<header class="main-header clearfix">
    <div class="main-header__company">
        <span class="icon-company"> </span>
        <span class="brand">Interface</span>
        <button ng-click="toggleMenu()">
            <i class="fa fa-bars"></i>
        </button>
    </div>
    <div class="main-header__topics" xng-show="isMenuDisplayed" ng-class="{'hidden': !isMenuDisplayed}">
        <ul>
            <li ng-repeat="topic in topics">
                <a href="javascript:void(0)" ng-click="getTopic(topic.value)">{{topic.title}}</a>
            </li>
        </ul>
    </div>
</header>
