@charset "UTF-8";
.c-cube {
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
    width: $cube-size;
    height: $cube-size;
    backface-visibility: hidden;
    .face {
        transform-style: preserve-3d;
        position: absolute;
        top: $cube-size;
        left: $cube-size;
        width: $cube-size;
        height: $cube-size;
        border-radius: 4px;
        border: 1px solid black;
        //backface-visibility: hidden;
        &:nth-of-type(1) {
            // front
            transform: translateZ($cube-size / 2);
            @include color(1);
        }
        &:nth-of-type(2) {
            // back
            transform: translateZ( -$cube-size / 2) rotateY(180deg);
            @include color(2);
        }
        &:nth-of-type(3) {
            // right
            transform: rotateY(-270deg) translateX($cube-size/2);
            transform-origin: top right;
            @include color(3);
        }
        &:nth-of-type(4) {
            // left
            transform: rotateY(270deg) translateX(-$cube-size / 2);
            transform-origin: center left;
            @include color(4);
        }
        &:nth-of-type(5) {
            // top
            transform: rotateX(-90deg) translateY(-$cube-size / 2);
            transform-origin: top center;
            @include color(5);
        }
        &:nth-of-type(6) {
            // down
            transform: rotateX(90deg) translateY($cube-size / 2);
            transform-origin: bottom center;
            @include color(6);
        }
    }
    .cube-display {
        transform-style: preserve-3d;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
    }
    &.front {
        .face {
            &:nth-of-type(2) {
                // back
                @include face-black;
            }
        }
        &.top-left {
            .cube-display {
                transform: translateZ($cube-size/2);
            }
            .face {
                &:nth-of-type(3) {
                    // right
                    @include face-black;
                }
                &:nth-of-type(6) {
                    // down
                    @include face-black;
                }
            }
        }
        &.top-right {
            .cube-display {
                transform: translateZ($cube-size/2) translateX($cube-size);
            }
            .face {
                &:nth-of-type(4) {
                    // left
                    @include face-black;
                }
                &:nth-of-type(6) {
                    // down
                    @include face-black;
                }
            }
        }
        &.bottom-left {
            .cube-display {
                transform: translateZ($cube-size/2) translateY($cube-size);
            }
        }
        &.bottom-right {
            .cube-display {
                transform: translateZ($cube-size/2) translateX($cube-size) translateY($cube-size);
            }
        }
    }
    &.back {
        &.top-left {
            .cube-display {
                transform: translateZ(-$cube-size/2);
            }
        }
        &.top-right {
            .cube-display {
                transform: translateZ(-$cube-size/2) translateX($cube-size);
            }
        }
        &.bottom-left {
            .cube-display {
                transform: translateZ(-$cube-size/2) translateY($cube-size);
            }
        }
        &.bottom-right {
            .cube-display {
                transform: translateZ(-$cube-size/2) translateX($cube-size) translateY($cube-size);
            }
        }
    }
}