/* resets */
/*html {
    box-sizing: border-box;
}
*, *:before, *:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: inherit;
}
*/
/* Responsive design, smallest device first */

body {
    /*margin-top: 0em;*/
    margin: 0 0.5em;
}

.body{
    margin: 0 auto;
    /*max-width: 50%*/;
}

.company-logo{
    background-color: #8c0000;
    color: white;
    min-width: 4em;
    padding: 0.8em;    
    display: block;
    float: left;
}

.company-logo .name{
    font: small-caps 700 2em/1.2 sans-serif;
    text-transform: uppercase;
}

.clearboth {
    clear: both;
}
.template-rendered {
    margin: 0 auto;
}
.navigation-container ul {
    list-style: none;
}

    .template-rendered .navigation-item-description{
        display: none;
    }

.device-info {
    text-align: center;
    font-size: 50%;
    float: right;
}
.device-info::after {
    content: ' - Phone';
}
@media (min-width: 480px) {
    .device-info::after {
        content: ' - Phone large';
    }
}
@media (min-width: 768px) {
    .device-info::after {
        content: " - Tablet";
    }

    .template-rendered .navigation-item-description{
        display: inline;
    }
}
@media (min-width: 992px) {
    .device-info::after {
        content: ' - Desktop';
    }
}
@media (min-width: 1200px) {
    .device-info::after {
        content: ' - Desktop large';
    }
}
