/* Resets, they might disrupt Bootstrap values, undo these resets as needed */
/* site.css */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

/* Responsive design, smallest device first */

html, body {
    height: 100%;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
/* body wrapper to center content */

.body {
    margin: 0 auto;
    height: 100%;    
    -webkit-overflow-scrolling: touch;
}
.site-footer {
    background-color: #000;
    color: white;
    height: 100px;
}
.top-panel {
    background: -webkit-linear-gradient(#8c0000, #7c0000);
    background: -o-linear-gradient(#8c0000, #7c0000);
    background: -moz-linear-gradient(#8c0000, #7c0000);
    background: linear-gradient(#8c0000, #7c0000);
}
.top-panel-item {
    margin-top: 8px;
    margin-right: 10px;
}

.top-panel-item a{
    color: white;
}

#renderedTopPanelGlobalLinks{
    margin-right: 30px;
}
.top-panel .global-links {
    color: white;
}
.top-panel .global-links li {
  display: inline-block;
  padding: 10px;
}

.top-panel .top-panel-links ul {
    margin: 0;
}
.top-panel .top-panel-links li {
    /*border: 1px solid #585858;*/
    list-style-type: none;
    height: 100%;
}
.top-panel .language-selection li {
    padding-bottom: 6px;
}
.top-panel .language-selection a{
    color: white;
}
.top-panel .company-logo {
    color: white;
    min-width: 10px;
    padding: 10px;
    float: left;
}
.top-panel .company-logo .name {
    font: small-caps 700 24px/1.2 sans-serif;
    text-transform: uppercase;
}
.company-logo .homepage-link {
    text-decoration: none;
}
.company-logo .homepage-link:active, .company-logo .homepage-link:visited, .company-logo .homepage-link:link, .company-logo .homepage-link:hover {
    color: inherit;
}
.top-panel .top-panel-button {
    border: 1px solid #8c0000;
    display: block;
    border-radius: 4px;
    background-color: #f6f4ef;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}
.top-panel .main-search-toggle {
    font: small-caps 700 2em/1.2 sans-serif;
    background-color: #f6f4ef;
    padding: 4px;
    color: #8c0000;
}
.navigation-dropdown-icon {
    padding: 4px;
}
.top-panel-button:hover {
    background-color: #C8D0CC;
}
.navigation-dropdown-icon .navigation-bar-stripe {
    background-color: #8c0000;
    height: 4px;
    margin: 6px auto;
}
.main-page-container {
    /*margin: 10px 0 0 0;*/
}
.navigation-container ul {
    padding-left: 20px;
}
#searchInputContainer {    
    padding: 10px;  
    width: 100%;
    float: right;
    position: relative;
     background-color: white;
}

#searchInputContainer.form-group{
    margin-bottom: 0; /* override bootstrap */
}

#searchInputContainer .search-input {
    width: auto;
    display: inline;
    max-width: 480px;
    width: 100%;
    float: right;
}
#searchInputContainer > a {
    display: inline;
    position: absolute;
    right: 16px;
    top: 16px;
    background-color: white;
}
.navigation-container ul {
    list-style: none;
}
.template-rendered .navigation-item-description {
    display: none;
}
.html-spot {
    color: white;
    padding: 10px;
    border: 1px solid #333;
    overflow: hidden;
    /*margin-bottom: 15px;*/
}
.spot > a {
    color: inherit;
    text-decoration: none;
}
.spot > a:hover, a:link, a:visited, a:active{
    color: inherit;
}
.spot-container-small{
 
}
.spot-container-big{
 
}
.spot-background-gray {
	background: -webkit-linear-gradient(#4B5A55, #53605A);
    background: -moz-linear-gradient(#4B5A55, #53605A);
    background: -o-linear-gradient(#4B5A55, #53605A);
    background: linear-gradient(#4B5A55, #53605A);
}
.spot-background-green {
	background: -webkit-linear-gradient(#879119, #779119);  
    background: -moz-linear-gradient(#879119, #779119);
    background: -o-linear-gradient(#879119, #779119);
    background: linear-gradient(#879119, #779119);
}
.spot-background-turkish {
	background: -webkit-linear-gradient(#00736E, #00636E); 
    background: -moz-linear-gradient(#00736E, #00636E);
    background: -o-linear-gradient(#00736E, #00636E);
    background: linear-gradient(#00736E, #00636E);
}
.spot-background-blue {
    background: -webkit-linear-gradient(#23343E, #13242E);    
    background: -moz-linear-gradient(#23343E, #13242E);
    background: -o-linear-gradient(#23343E, #13242E);
    background: linear-gradient(#23343E, #13242E);
}
.spot-background-red {
	background: -webkit-linear-gradient(#8c0000, #7c0000);   
    background: -moz-linear-gradient(#8c0000, #7c0000);
    background: -o-linear-gradient(#8c0000, #7c0000);
    background: linear-gradient(#8c0000, #7c0000);
}
.device-info {
    text-align: center;
    font-size: 60%;
    float: right;
}
.device-info::after {
    content: ' - Phone';
}
.spot-container-default {
    padding: 0;
    /* push right and down -wards */
}
.spot-container-default img {
    text-align: center;
}
.image-responsive {
    display: block;
    margin: auto;
}
/* Bootstrap override */

.container-fluid {
    padding: 0;
}
.row {
    margin: auto 0 auto 0;
}
.spot-container-default {
    padding-bottom: 10px;
}
.main-page-container {
    margin-top: 10px;
}

.spot {    
     transition-property: width, height;
        transition-duration: 1s;
}


@media (orientation : landscape){
    .device-info::before {
        content: ' (landscape) ';
    }  
}

@media (min-width: 480px) {
    .device-info::after {
        content: ' - Phone large';
    }
    body {
    }
    .body {
        width: 96%;
    }
}
@media (min-width: 768px) {
    .device-info::after {
        content: " - Tablet";
    }
    body {
    	background: url('http://i.imgur.com/ndXts7z.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
    }
    .main-page-container {
        margin: 0;
    }
    .spot-container-default {
        padding-bottom: 0;
    }
    .template-rendered .navigation-item-description {
        display: inline;
    }
   
    /* Override Bootstrap never hide for tablet and up */

    .navbar-collapse.collapse {
        display: none !important;
    }
    .collapse.in {
        display: block !important;
    }
    .body {
        width: 90%;
        background-color: #C8CCCF;

        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
		filter: alpha(opacity=90);
		-moz-opacity:0.9;
		-khtml-opacity: 0.9;
        -ms-opacity: 0.90;
        opacity: 0.90;
    }

    /* Sticky footer */

    .page-wrap {
        min-height: 100%;
        /* Equal to footer height */

        margin-bottom: -100px;
    }
    .page-wrap::after {
        content: '';
        display: block;
    }
    .site-footer, .page-wrap::after {
        height: 100px;
    }
}
@media (min-width: 992px) {
    .device-info::after {
        content: ' - Desktop';
    }
    body {      
    }
    .body {
        width: 80%;
    }      
}
@media (min-width: 1200px) {
    .device-info::after {
        content: ' - Desktop large';
    }
      body {
        background: url('//i.imgur.com/isxWrsg.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        /*   margin-top: 10px;*/
    }
    .body {
        width: 70%;

         -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=96)";
        filter: alpha(opacity=96);
        -moz-opacity:0.96;
        -khtml-opacity: 0.96;
        -ms-opacity: 0.96;
        opacity: 0.96;
    }    
}
