/* Resets */
/* site.scss */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  &:before, &:after {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }
}

/* Responsive design, smallest device first */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin linear-gradient($val1, $val2) {
  background: -webkit-linear-gradient($val1, $val2);
  background: -o-linear-gradient($val1, $val2);
  background: -moz-linear-gradient($val1, $val2);
  background: linear-gradient($val1, $val2);
}

html, body {
  height: 100%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* body wrapper to center content */

.body {
  margin: 0 auto;
  height: 100%;
  -webkit-overflow-scrolling: touch;  
}

.site-footer {
  background-color: #000;
  color: white;
  height: 100px;
}

.top-panel-item {
  margin-top: 8px;
  margin-right: 10px;
  a {
    color: white;
  }
}

#renderedTopPanelGlobalLinks {
  margin-right: 30px;
}


.company-logo .homepage-link {
  text-decoration: none;
  &:active, &:visited, &:link, &:hover {
    color: inherit;
  }
}

$gradient-color-top-panel1: #8c0000;
$gradient-color-top-panel2: #7c0000;
.top-panel {
  
  @include linear-gradient($gradient-color-top-panel1,$gradient-color-top-panel2);
  
  .global-links {
    color: white;
    li {
      display: inline-block;
      padding: 10px;
    }
  }
  .top-panel-links {
    ul {
      margin: 0;
    }
    li {
      /*border: 1px solid #585858;*/
      list-style-type: none;
      height: 100%;
    }
  }
  .language-selection {
    li {
      padding-bottom: 6px;
    }
    a {
      color: white;
    }
  }
  .company-logo {
    color: white;
    min-width: 10px;
    padding: 10px;
    float: left;
    .name {
      font: small-caps 700 24px/1.2 sans-serif;
      text-transform: uppercase;
    }
  }

  .top-panel-button {
    border: 1px solid #8c0000;
    display: block;
    border-radius: 4px;
    background-color: #f6f4ef;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
  }
  .main-search-toggle {
    font: small-caps 700 2em/1.2 sans-serif;
    background-color: #f6f4ef;
    padding: 4px;
    color: #8c0000;
  }
}

.navigation-dropdown-icon {
  padding: 4px;
}

.top-panel-button:hover {
  background-color: #C8D0CC;
}

.navigation-dropdown-icon .navigation-bar-stripe {
  background-color: #8c0000;
  height: 4px;
  margin: 6px auto;
}

#searchInputContainer {
  padding: 10px;
  width: 100%;
  float: right;
  position: relative;
  background-color: white;
  &.form-group {
    margin-bottom: 0;
    /* override bootstrap */
  }
  .search-input {
    width: auto;
    display: inline;
    max-width: 480px;
    width: 100%;
    float: right;
  }
  > a {
    display: inline;
    position: absolute;
    right: 16px;
    top: 16px;
    background-color: white;
  }
}

.navigation-container ul {
  padding-left: 20px;
  list-style: none;
}

.template-rendered .navigation-item-description {
  display: none;
}

.html-spot {
  color: white;
  padding: 10px;
  border: 1px solid #333;
  overflow: hidden;
  /*margin-bottom: 15px;*/
}

.spot > a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
  }
}

a {
  &:link, &:visited, &:active {
    color: inherit;
  }
}

.spot-container-small, .spot-container-big {}

.spot-background-gray {
  @include linear-gradient(#4B5A55, #53605A);  
}

.spot-background-green {
  @include linear-gradient(#879119, #779119);
}

.spot-background-turkish {
  @include linear-gradient(#00736E, #00636E);
}

.spot-background-blue {
  @include linear-gradient(#23343E, #13242E);
}

.spot-background-red {
  @include linear-gradient(#8c0000, #7c0000);
}

.device-info {
  text-align: center;
  font-size: 60%;
  float: right;
  &::after {
    content: ' - Phone';
  }
}

.image-responsive {
  display: block;
  margin: auto;
}

/* Bootstrap override */

.container-fluid {
  padding: 0;
}

.row {
  margin: auto 0 auto 0;
}


.spot-container-default {
  padding: 0;
  padding-bottom: 10px;
  /* push right and down -wards */
  img {
    text-align: center;
  }
}

.main-page-container {
  margin-top: 10px;
}

.spot {
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

.left-navigation-container {
  display: none;
}

@media (orientation: landscape) {
  .device-info::before {
    content: ' (landscape) ';
  }
}

@media (min-width: 480px) {
  .device-info::after {
    content: ' - Phone large';
  }
  body {}
  .body {
    width: 96%;
  }
}

@media (min-width: 768px) {
  .device-info::after {
    content: " - Tablet";
  }
  body {
    background: url('http://i.imgur.com/ndXts7z.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
  }
  .main-page-container {
    margin: 0;
  }
  .spot-container-default {
    padding-bottom: 0;
  }
  .template-rendered .navigation-item-description {
    display: inline;
  }
  /* Override Bootstrap never hide for tablet and up */
  .navbar-collapse.collapse {
    display: none !important;
  }
  .collapse.in {
    display: block !important;
  }
  .body {
    width: 90%;
    background-color: #C8CCCF;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity = 90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    -ms-opacity: 0.90;
    opacity: 0.90;
  }
  /* Sticky footer */
  .page-wrap {
    min-height: 100%;
    /* Equal to footer height */
    margin-bottom: -100px;
    &::after {
      content: '';
      display: block;
    }
  }
  .site-footer, .page-wrap::after {
    height: 100px;
  }
}

@media (min-width: 992px) {
  .device-info::after {
    content: ' - Desktop';
  }
  body {}
  .body {
    width: 80%;
  }
  .main-navigation-container {
    background-color: red; /* debug */
  }
}

@media (min-width: 1200px) {
  .device-info::after {
    content: ' - Desktop large';
  }
  body {
    background: url('//i.imgur.com/isxWrsg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    /*   margin-top: 10px;*/
  }
  .body {
    width: 70%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=96)";
    filter: alpha(opacity = 96);
    -moz-opacity: 0.96;
    -khtml-opacity: 0.96;
    -ms-opacity: 0.96;
    opacity: 0.96;
  }
}