@charset "UTF-8";
html {
    font-size: 16px;
}

body {
    margin: 0;
    transition: 200ms;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
    perspective: 1000px;
    background: white;
    overflow: hidden;
    &.toggle {
        .scene {
            // animation-play-state: paused;
            transform-origin: 50% 50%;
            animation: rotate 2s linear infinite;
        }
    }
    &.rotate {
        .scene {
            transform: rotateY(180deg);
        }
    }
}

.scene {
    transform-style: preserve-3d;
    position: absolute;
    left: calc(50% - #{2*$cube-size});
    top: calc(50% - #{2*$cube-size});
    width: 4 * $cube-size;
    height: 4 * $cube-size;
    //transform: translateZ($cube-size*1);
    transition: 200ms;
    background: rgba(red,.1);
}

.rubik {
    transform-style: preserve-3d;
    position: absolute;
    left: inherit;
    top: inherit;
    width: inherit;
    height: inherit;
    background: rgba(black,.3);
    transform: rotateX(-30deg) rotateY(-40deg) rotateZ(0deg);
}


@keyframes rotate {
    from {
        transform: rotate3d(0, 0, 0, 0turn);
    }
    to {
        transform: rotate3d(1, 1, 1, 1turn);
    }
}

@keyframes rotateY {
    from {
        transform: rotate3d(0, 0, 0, 0turn);
    }
    to {
        transform: rotate3d(0, 1, 0, 1turn);
    }
}