Udgangspunktet er, at der skal anvendes samme tagmateriale
som det eksisterende (materiale, farve, udformning og mål).
Kan der ikke opnås enighed om samtidig udskiftning, skal
der findes en arkitektonisk acceptabel byggeteknisk løsning
for overgangene til nabohusenes tagbelægning, som samtlige
rækkehusejere i blokken/Grundejerforeningen har accepteret
og som skal være gældende ved samtlige udskiftninger. Denne
løsning skal godkendes af byggesagsafdelingen. 