/* line 1, app.scss */
body {
  background-color: white; }

/* line 4, app.scss */
.body {
  margin: 0 auto;
  max-width: 1400px; }

/* line 10, app.scss */
.front-page {
  overflow: hidden; }
  /* line 12, app.scss */
  .front-page .spot {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    xbackground-color: #58a;
    xmargin: 10px;
    xpadding: 20px;
    xmax-width: 300px; }
    @media (min-width: 768px) {
      /* line 12, app.scss */
      .front-page .spot {
        width: 49.99%; } }
    @media (min-width: 992px) {
      /* line 12, app.scss */
      .front-page .spot {
        width: 33.33%; } }
    /* line 28, app.scss */
    .front-page .spot > a {
      max-width: 90%;
      margin: 0 auto;
      display: block;
      padding: 20px;
      text-align: center;
      border: 1px solid black; }

/* line 40, app.scss */
.login-page ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
/* line 45, app.scss */
.login-page li {
  display: inline-block;
  padding: 30px;
  font-size: 200%; }

/* line 52, app.scss */
.sub-page {
  background-color: beige; }
