@charset "UTF-8";

$device-medium-width: 800px;

$break-small: 320px;
$break-large: 1024px;

@mixin device($media) {
  @if $media == handheld {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium {    
    @media only screen and (min-width: $break-small + 1) { @content; }
    //@media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == large {
    @media only screen and (min-width: $break-large) { @content; }
  }
}