<div component="main-header" class="main-header">
    

    <div class="logo">logo</div>
    <div class="brand">brand</div>

    <div ui-view>content here</div>
    
    <ul>
        <li>
            <a ui-sref="state1">Topic 1</a>
        </li>
        <li>
            <a ui-sref="state2">Topic 2</a>
        </li>
        <li>
            <a ui-sref="state3">Topic 3</a>
        </li>
        <li>
            <a ui-sref="state4">Topic 4</a>
        </li>
        <li>
            <a ui-sref="state5">Topic 5</a>
        </li>
    </ul>
    
</div>
