* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.top-header {
  height: 100px;
  background-color: tomato;
  margin-bottom: 20px;
}
.filter-buttons-section ul {
  list-style-type: none;
}
.filter-buttons-section li {
  padding: 20px;
  display: inline-block;
}
.filter-buttons-section li a {
  text-decoration: none;
}
.articles-section .article {
  background-color: tomato;
  padding: 10px;
  margin: 10px;
  width: 310px;
}
