<!doctype html>
<html ng-app="app" lang="en">

<head>
    <base target="_blank">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular.js Example</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="index.css">
    <script src="angular.min.js"></script>
    <script src="index.js"></script>
</head>

<body ng-controller="ItemCtrl">

    <div ng-repeat="item in items" class="item">
        <input type="text" /> <input type="text" /> <input type="text" /> <input type="text" />
        <button type="button" ng-click="removeItem($index)" class="btn btn-default">Remove</button>
    </div>

    <form ng-submit="addItem()">
        <button type="submit" class="btn btn-default">Add</button>
    </form>

</body>

</html>
