body {
  font-family: arial;
  background: whitesmoke; }

input {
  display: inline-block;
  width: auto;
  max-width: 10em; }

.item {
  display: inline-block;
  width: auto;
  background: beige;
  margin-bottom: 1em; }
