html {
    font-size: 100%;
}

html,
body {
    min-height: 100vh;
}

body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    background-color: #f6f6f6;
}

.body-wrapper {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    //transition: 200ms;
    animation: page-fade-in 500ms;
}

@keyframes page-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}