<div class="front-page">
    <h1>{{page}}</h1>
    <p>name: {{person.name}}</p>
    <p>age: {{person.age}}</p>

    <div class="spot">
        <a ui-sref="subpage1" ng-click=''>subpage 1</a>
    </div>
    <div class="spot">
        <a ui-sref="subpage2" ng-click=''>subpage 2</a>
    </div>
    <div class="spot">
        <a ui-sref="subpage3" ng-click=''>subpage 3</a>
    </div>
    <div class="spot">
        <a ui-sref="subpage4" ng-click=''>subpage 4</a>
    </div>
    <div class="spot">
        <a ui-sref="subpage5" ng-click=''>subpage 5</a>
    </div>
    <div class="spot">
        <a ui-sref="subpage6" ng-click=''>subpage 6</a>
    </div>
</div>
