* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {

}

.top-header{
  height: 100px;
  background-color: tomato;
  margin-bottom: 20px;
}

.filter-buttons-section{
  ul{
    list-style-type: none;
  }

  li{
    padding: 20px;
    display: inline-block;

    a{
      text-decoration: none;
    }
  }
}

.articles-section{
  .article{
    background-color: tomato;
    padding: 10px;
    margin: 10px;
    width: 310px;

  }

  .width1{

  }
  .width2{

  }
  .height1{

  }
  .height2{

  }
}