@import 'variables';
@import 'mixins';
@-ms-viewport {
    // Fix for MS-viewport
    width: device-width;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.body {
    margin: 0 auto;
    max-width: 1680px;
}

.back-to-main-page {
    color: black;

    a {
        text-decoration: none;
        color: inherit;

        &:active, :visited, :hover{
            color: inherit;
        }
    }
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}