@import 'variables';
@import 'mixins';
.top-banner {
    .payout {
        font-weight: bold;
    }
    .logo-left, .logo-right{
        a{
            text-decoration: none;
        }
    }
}

.maternity-overview {
    .headline {
        //font-weight: bold;
        font-size: 200%;
    }
    .separator-primary {
        margin-top: 0;
        margin-bottom: 20px;
        border-top: 1px solid #a0bb70;
        border-bottom: 1px solid transparent;
    }
    .spots {
        max-width: 1000px;
        margin: 0 auto;

        // Set max width for spot
        @include device-max-tablet {
            [class*="span"] {
                max-width: $spot-max-width;
                margin: 0 auto !important;
            }
        }
    }
    .spot.task-todo {
        background-color: $color-second-background-yellow;
        .call-to-action {
            background-color: $color-second-background-green;
        }
        hr {
            border-top: 1px solid #FAD48C;
        }
        border: 1px solid #FAD48C;
    }
    .spot {
        background-color: #F5F5F5;
        position: relative;
        max-height: 260px;
        overflow: hidden;
        border-radius: 0;
        .icon {
            position: absolute;
            min-width: 20px;
            top: 10px;
            left: 10px;
            i {
                font-size: 16px;
            }
        }
        .title {
            padding: 10px 0;
            width: auto;
            text-align: center;
        }
        .content {
            text-align: center;
            padding: 10px;
        }
        .sub-content {
            text-align: center;
            padding: 10px;
        }
        .call-to-action {
            color: white;
            background: $color-second-background-purple;
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 10px;
            text-align: center;
            font-size: 90%;
        }
        hr {
            margin: 0 auto;
            border-top: 1px solid #E3E3E3;
            border-bottom: 1px solid transparent;
            width: 96%;
        }
        a {
            display: block;
            text-decoration: none;
            color: #333;
            border-radius: 2px;
            min-height: 200px;
            &:active, :hover, :visited {
                //color: inherit;
            }
        }
    }
    footer {
        background: #F5F5F5;
        min-height: 60px;
        padding: 10px;
        [class*="footer-"] {
            display: block;
        }
    }
}
