@charset "UTF-8";
$size: 200px;
$color-face: rgba(dodgerblue, 1);
*,
:before,
:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font: 20px sans-serif;
    height: 100vh;
    min-height: 100vh;
    padding-top: $size;
    //overflow: hidden;
}

.debug {
    position: absolute;
    top: 0;
    left: 0;
    > div {
        display: block;
        position: relative;
        word-wrap: break-word;
        word-wrap: break-all;
        max-width: 320px;
        @media(min-width: 620px) {
            max-width: 620px;
        }
        @media(max-width: 900px) {
            max-width: 900px;
        }
    }
    .event {
        color: red;
    }
    .state {
        color: teal;
    }
    .transform {
        color: darkorange;
    }
    .time {}
}

.scene {
    width: $size;
    height: $size;
    margin: 0 auto;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-30deg) rotateY(-20deg) rotateZ(0deg);
}

.cube {
    position: relative;
    width: $size;
    height: $size;
    margin: 0 auto;
    transform-style: preserve-3d;
    transition: $cube-transition;
    .face {
        user-select: none;
        cursor: pointer;
        position: absolute;
        width: $size;
        height: $size;
        text-transform: uppercase;
        background: $color-face;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid;
        //    font-size: 0;
        color: white;
        backface-visibility: hidden;
        &.front {
            transform: translateZ($size/2);
        }
        &.top {
            transform: rotateX(-90deg) translateY($size/2) rotateY(180deg) rotateZ(180deg);
            transform-origin: top center;
            background: darken($color-face, 20%);
        }
        &.right {
            transform: rotateY(-270deg) translateX($size/2);
            transform-origin: top right;
            background: darken($color-face, 10%);
        }
        &.back {
            transform: translateZ(-$size/2) rotateY(180deg);
        }
        &.down {
            transform: rotateX(90deg) translateY(-$size/2) rotateY(180deg) rotateZ(180deg);
            transform-origin: bottom center;
            background: darken($color-face, 20%);
        }
        &.left {
            transform: rotateY(270deg) translateX(-$size/2);
            transform-origin: center left;
            background: darken($color-face, 10%);
        }
    }
}

.main-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    outline: 1px solid;
    width: 100%;
}

.l-center {
}