<h1>Welcome</h1>

<section>
    <article>
        <div>Who are you?</div>
        <form>
            <label class="radio">
                Mother
                <input type="radio" data-ng-model="model.user.parent" data-ng-change="parentChange(model.user.parent)" value="parent1">
            </label>
            <label class="radio">
                Father
                <input type="radio" data-ng-model="model.user.parent" data-ng-change="parentChange(model.user.parent)" value="parent2">
            </label>
        </form>
    </article>
    <article>
        <div>Due date</div>
        <form>
            <div class="calendar-date-with-icon">
                <i class="icon-calendar"></i>
                <input type="text" placeholder="e.g. 30.01.2015" class="calendar-date" ng-model="model.user.dueDate" data-ng-change="" jqdatepicker>
            </div>
        </form>
    </article>
    <article>
        <div>Work status</div>
        <form>
            <label class="radio">
                Employed
                <input type="radio" data-ng-model="model.user.workStatus" data-ng-change="" value="employed">
            </label>
            <label class="radio">
                Self employed
                <input type="radio" data-ng-model="model.user.workStatus" data-ng-change="" value="independent">
            </label>
            <label class="radio">
                Unemployed
                <input type="radio" data-ng-model="model.user.workStatus" data-ng-change="" value="unemployed">
            </label>
        </form>
    </article>
    <article data-ng-show="model.user.workStatus === 'employed'">
        <div>
            Weeks with pay after birth?
        </div>
        <form>
            <label class="radio">
                Nothing
                <input type="radio" data-ng-model="model.user.weekSalary" data-ng-change="" value="nothing">
            </label>
            <label class="radio">
                24 weeks
                <input type="radio" data-ng-model="model.user.weekSalary" data-ng-change="" value="weeks24">
            </label>
            <label class="radio">
                26 weeks
                <input type="radio" data-ng-model="model.user.weekSalary" data-ng-change="" value="weeks26">
            </label>
            <label class="radio">
                Something else
                <input type="radio" data-ng-model="model.user.weekSalary" data-ng-change="" value="other">
            </label>
            <input type="text" placeholder="weeks" data-ng-model="model.user.weeks" data-ng-change="" data-ng-show="model.user.weekSalary == 'other'">
        </form>
    </article>
</section>

<a ui-sref="wizard2" class="btn btn-oim" data-ng-click='nextPage()'>Next</a>

