<pre data-info="this is for debugging" xstyle="display:none">{{model|json}}</pre>

<div class="planner-container">
    <!--Header-->
    <header>
        <img src="https://www.borger.dk/Style%20Library/gfx/logo-mini.png" alt="borger.dk's logo">
    </header>
    <!--Wrapper-->
    <section class="wrapper">
        <!--Tabs-->
        <section class="tabContent">
            <!--Right icons-->
            <ul class="icons">
                <li><i class="icon-envelope"></i> </li>
                <li><i class="icon-print"></i></li>
                <li><i class="icon-save"></i> </li>
            </ul>
            <article class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="index1.html">Mor</a></li>
                    <li><a href="far/index6.html">Anden forælder</a></li>
                </ul>
                <article class="tab-content">
                    <section class="top-text">
                        <h1>Benyttet barsel</h1>
                        <button class="btn btn-gray">Vis i kalender <i class="icon-calendar"></i></button>
                    </section>
                    <!--Content Result-->
                    <ul class="result">
                        <li>
                            <span>
                                    1. barselsdag<br>
                                    12.12-2010
                                </span>
                        </li>
                        <li>
                            <span>
                                    Fødselsdato/termin<br>
                                    12.12-2010
                                </span>
                        </li>
                        <li>
                            <span>
                                    Sidste dag med løn<br>
                                    12.12-2010
                                </span>
                        </li>
                        <li>
                            <span>
                                    Sidste barselsdag<br>
                                    12.12-2010
                                </span>
                        </li>
                    </ul>
                    <!--Timeline-->
                    <section class="timeline three-elements">
                        <article class="blue">
                            4 uger
                            <br>Graviditetsorlov
                        </article>
                        <article class="green">
                            14 uger
                            <br>Barselsorlov
                        </article>
                        <article></article>
                    </section>
                    <!--Info Box-->
                    <section class="infoBox">
                        <article>
                            <i class="icon-info-sign"></i>
                            <div>
                                Mor har ret til 14 ugers barselsorlov umiddelbart efter fødslen. De første to uger er tvungne. Resten af ugerne kan holdes lige efter fødselen ellers går de tabt.
                            </div>
                        </article>
                        <article></article>
                    </section>
                    <ul class="tab-navigation">
                        <li><a ui-sref="wizard2" class="btn btn-blue" data-ng-click='prevPage()'>Forrige</a></li>
                        <li><a ui-sref="wizard4" class="btn btn-oim" data-ng-click='nextPage()'>Næste</a></li>
                    </ul>
                </article>
            </article>
        </section>
    </section>
    <!--Footer-->
    <footer>
        Udbetaling Danmark Barseldagpenge Kongens Vænge 8 - 3400 Hillerød
        <i class="icon icon-phone"></i> 7012 8064 <i class="icon icon-time"></i> Åbningstider
    </footer>
</div>
