*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  font-family: arial; }

main {
  margin: auto;
  display: table;
  padding-top: 1em; }

.container {
  border: 1px solid gray; }
  .container > .title {
    color: white;
    font-weight: bold;
    background: gray;
    text-align: center;
    text-transform: capitalize;
    padding: .5em;
    margin: 0 -1px; }

.radar-pie-chart {
  margin: 2em 1em;
  padding: 0 12em;
  position: relative;
  height: 250px;
  width: 250px; }
  .radar-pie-chart .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid lightgray;
    transform: translate(-50%, -50%); }
    .radar-pie-chart .circle svg {
      width: 100%;
      height: 100%; }
    .radar-pie-chart .circle--1 {
      width: 50px;
      height: 50px; }
    .radar-pie-chart .circle--2 {
      width: 100px;
      height: 100px; }
    .radar-pie-chart .circle--3 {
      width: 150px;
      height: 150px; }
    .radar-pie-chart .circle--4 {
      width: 200px;
      height: 200px; }
  .radar-pie-chart .line {
    position: absolute;
    left: 50%;
    top: 0;
    width: 2px;
    height: inherit;
    background: rgba(153, 153, 153, 0.7); }
    .radar-pie-chart .line:before {
      position: absolute;
      content: '';
      height: inherit;
      width: inherit;
      background: inherit;
      transform: rotate(90deg); }
    .radar-pie-chart .line.rotate {
      position: absolute;
      transform: rotate(45deg); }
  .radar-pie-chart .label {
    position: absolute;
    border-color: white; }
    .radar-pie-chart .label > div:nth-child(1) {
      font-weight: bold;
      text-transform: uppercase; }
    .radar-pie-chart .label > div:nth-child(2) {
      font-size: 80%; }
    .radar-pie-chart .label.a, .radar-pie-chart .label.b, .radar-pie-chart .label.c, .radar-pie-chart .label.d {
      border-left: 3px solid;
      padding-left: .3em; }
    .radar-pie-chart .label.e, .radar-pie-chart .label.f, .radar-pie-chart .label.g, .radar-pie-chart .label.h {
      border-right: 3px solid;
      padding-right: .3em; }
    .radar-pie-chart .label.a {
      top: -5%;
      left: 65%; }
    .radar-pie-chart .label.b {
      top: 30%;
      right: 5%; }
    .radar-pie-chart .label.c {
      bottom: 30%;
      right: 5%; }
    .radar-pie-chart .label.d {
      bottom: -5%;
      left: 65%; }
    .radar-pie-chart .label.e {
      bottom: -5%;
      left: 20%; }
    .radar-pie-chart .label.f {
      bottom: 30%;
      left: 5%; }
    .radar-pie-chart .label.g {
      top: 30%;
      left: 5%; }
    .radar-pie-chart .label.h {
      top: -5%;
      left: 20%; }
