html {
    font-size: 100%;
}

html,
body {
    min-height: 100vh;
}

body {
    font: 20px sans-serif;
    background: #fafafa;
    background: #111;
    color: white;
    margin: 0;
    height: 100vh;
}

.body-wrapper {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.app-info {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    text-align: right;
    padding: .1em;
    min-height: 1.5em;
    border-bottom: 1px solid lightgray;
    padding: 0 .5rem;
    .about {}
    .state-info {
        >label {
            font-weight: 700;
            display: inline-block;
        }
        >.state {
            display: inline-block;
            font-weight: 700;
            text-transform: uppercase;
            min-width: 2em;
        }
    }
}