$size: 200px;
$color-face: rgba(dodgerblue, 1);
$transition-duration: 1000ms;
*,
:before,
:after {
    box-sizing: border-box;
}

body {
    font: 20px sans-serif;
}

.debug {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .1em;
    min-height: 2em;
    border: 1px solid lightgray;
    > .state {
        display: inline-block;
        margin-right: 1em;
        font-weight: 700;
        background: pink;

    }
    > .time {}
}

.cube-scene {
    transition: 200ms;
    width: $size;
    height: $size;
    // perspective: 800px;
    margin: 0 auto;
    //margin-top: $size;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(-30deg) rotateZ(0deg);
    // background: pink;
}

.cube-component {
    transition: 300ms;
    width: $size;
    height: $size;
    margin: 0 auto;
    margin-top: $size;
    position: relative;
    transform-style: preserve-3d;
}

.cube-touch {
    position: absolute;
    top: 0;
    left: 0;
    width: $size;
    height: $size;
    //background: rgba(red, .5);
    backface-visibility: hidden;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: start;
    color: white;
    cursor: pointer;
    //  font-size: 0;
    &--top {
        transform: rotateX(-90deg) translateY($size/2) rotateY(180deg) rotateZ(180deg);
        transform-origin: top center;
    }
    &--front {
        transform: translateZ($size/2 + 1px);
    }
    &--right {
        transform: rotateY(-270deg) translateX($size/2);
        transform-origin: top right;
    }
}

.cube {
    transition: $transition-duration;
    position: relative;
    width: $size;
    height: $size;
    margin: 0 auto;
    transform-style: preserve-3d;
    user-select: none;
    pointer-events: none;
    //  animation: spin 5s infinite linear;
    .face {
        user-select: none;
        pointer-events: none;
        transition: translate 200ms;
        position: absolute;
        width: $size;
        height: $size;
        text-transform: uppercase;
        background: $color-face;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid;
        //font-size: 0;
        //color: transparent;
        backface-visibility: hidden;
    }
    .front {
        transform: translateZ($size/2);
    }
    .top {
        transform: rotateX(-90deg) translateY($size/2) rotateY(180deg) rotateZ(180deg);
        transform-origin: top center;
        background: darken($color-face, 20%);
    }
    .right {
        transform: rotateY(-270deg) translateX($size/2);
        transform-origin: top right;
        background: darken($color-face, 10%);
    }
    .back {
        transform: translateZ(-$size/2) rotateY(180deg);
    }
    .down {
        transform: rotateX(90deg) translateY(-$size/2) rotateY(180deg) rotateZ(180deg);
        transform-origin: bottom center;
        background: darken($color-face, 20%);
    }
    .left {
        transform: rotateY(270deg) translateX(-$size/2);
        transform-origin: center left;
        background: darken($color-face, 10%);
    }
    .face {}
}

@keyframes spin {
    to {
        transform: rotateY(1turn) rotateX(1turn);
    }
}