*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

[ng-cloak] {
  display: none; }

body {
  font: 20px arial, sans-serif; }

ul {
  list-style-type: none; }
  ul li {
    display: inline-block;
    padding: 1em; }

a {
  color: black;
  font-size: 120%; }

[class^="view-"], [class^="page"], [class^="subpage"], [class^="subsubpage"] {
  min-height: 4em; }

main .content-main {
  background: lightgray; }
  main .content-main .view-a {
    background: yellowgreen; }
    main .content-main .view-a .subpage {
      background: #8ebd2e; }
    main .content-main .view-a .subsubpage {
      background: #81ac2a; }
  main .content-main .view-b {
    background: teal; }
    main .content-main .view-b .subpage {
      background: #006c6c; }
    main .content-main .view-b .subsubpage {
      background: #005757; }
  main .content-main .view-c {
    background: orange; }
    main .content-main .view-c .subpage {
      background: #eb9800; }
    main .content-main .view-c .subsubpage {
      background: #d68b00; }
