@charset "UTF-8";
// Resets
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Angular
[ng-cloak] {
    display: none;
}

// Layout
body {
    font: 20px arial, sans-serif;
}

ul {
    list-style-type: none;
    li {
        display: inline-block;
        padding: 1em;
    }
}

a {
    color: black;
    font-size: 120%;
}

[class^="view-"] {
    min-height: 4em;
}

main {
    .content-main {
        background: lightgray;
        .view-a {
            background: yellowgreen;
            .subpage {
                background: darken(yellowgreen, 4%);
            }
            .subsubpage {
                background: darken(yellowgreen, 8%);
            }
        }
        .view-b {
            background: teal;
            .subpage {
                background: darken(teal, 4%);
            }
            .subsubpage {
                background: darken(teal, 8%);
            }
        }
        .view-c {
            background: orange;
            .subpage {
                background: darken(orange, 4%);
            }
            .subsubpage {
                background: darken(orange, 8%);
            }
        }
    }
}
